.a,.b,.c,.d,.e,.f,.g,.h{
    height: 300px;
    width: 184px;
}
.a:hover{
    height: 350px;
    width: 250px;
}
.b:hover{
    height: 350px;
    width: 250px;
}
.c:hover{
    height: 350px;
    width: 250px;
}
.d:hover{
    height: 350px;
    width: 250px;
}
.e:hover{
    height: 350px;
    width: 250px;
}
.f:hover{
    height: 350px;
    width: 250px;
}
.g:hover{
    height: 350px;
    width: 250px;
}
.h:hover{
    height: 350px;
    width: 250px;

}
.i,.j,.k,.l,.m,.n,.o,.p{
    height: 300px;
    width: 184px;

}
.i:hover{
    height: 350px;
    width: 250px;
}
.k:hover{
    height: 350px;
    width: 250px;
}
.k:hover{
    height: 350px;
    width: 250px;
}
.l:hover{
    height: 350px;
    width: 250px;
}
.m:hover{
    height: 350px;
    width: 250px;
}
.n:hover{
    height: 350px;
    width: 250px;
}
.o:hover{
    height: 350px;
    width: 250px;
}
.p:hover{
    height: 350px;
    width: 250px;
}