body{
    background-image: url("https://cdn.pixabay.com/photo/2023/05/29/18/10/pottery-8026823__340.jpg"),url("https://cdn.pixabay.com/photo/2023/04/22/19/19/flowers-7944288_640.jpg"),url("https://cdn.pixabay.com/photo/2023/05/28/09/23/south-tyrol-8023219_640.jpg"),url("https://cdn.pixabay.com/photo/2023/05/20/16/48/dog-8006839_640.jpg"),url("https://cdn.pixabay.com/photo/2023/04/05/04/57/sunset-7900627_640.jpg");
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
    background-size: 33.41% 33.41vh;
    background-position: top left,bottom left,center,top right,bottom right;
    background-attachment: fixed;

}