body{
    display: flex;
    background-image: repeating-conic-gradient(rgb(38, 255, 0) 0.30deg, rgb(0, 255, 251) 0.35deg);
    position: relative;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: 2px dotted red wavy;
}
nav ul{
    position: absolute;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    list-style: none;
    border: 2px solid black;
    height: 20px;
    width: 100%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.hi{
    margin: 60px;
    width: 100%;
    display: flex ;
    justify-content: center;
}
#a{
    height: 40vh;
    width:40%;
    background-image: linear-gradient(to top right,red 30%,blue 60%,yellow 60%);
    border: 2px solid black;
}
#b{
    height: 40vh;
    width:40%;
    background-image: repeating-linear-gradient(to bottom left,red 0%,red 10%, blue 10%,blue 20%);
    /* note 100 px is divided by the final value and that many parts of gradient are repeated in the background image  */
    border: 2px solid black;
}
#c{
    height: 40vh;
    width:40%;
    background-image: radial-gradient(rgb(246, 37, 78) 50%,aqua 50%,aqua 70%,blue 70%);
    /* note here the first value of aqua is starting value for color aqua while the 2nd aqua is for the ending value of aqua */
    border: 2px solid black;
}
#d{
    height: 40vh;
    width:40%;
    background-image: repeating-radial-gradient( aqua 0%,aqua 3%, black 3%,black 6%);
    border: 2px solid black;
}
#e{
    height: 40vh;
    width:40%;
    background-image: conic-gradient( red 50%, black 50%,black 75%,pink 75%);
    border: 2px solid black;
}
#f{
    height: 40vh;
    width:40%;
    background-image: repeating-conic-gradient( orange 0%,orange 5%,black 5%,black 10%);
    border: 2px solid black;
}

/* For all the non repeating gradient the starting is 0 px by default,
but for all the repeating gradients u have to mention the starting and ending px also note that the last value given in the repeating graduients will be divided by 100% and that many gradients will be repeatedly dislayed */